.documents
    padding-top: 94px
    padding-bottom: 31px
    padding-left: 110px
    padding-right: 110px
    position: relative

    &:before
        content: ""
        position: absolute
        top: -83px
        right: -9px
        background-image: url(../../img/badge.png)
        width: 505px
        height: 1371px
        z-index: 999


    &__text
        margin-bottom: 68px

    
    &__list
        max-width: 1100px
        width: 100%
        display: flex
        flex-wrap: wrap

 
    &__item
        padding-top: 176px
        max-width: 117px
        width: 100%
        font-size: 16px
        line-height: 21px
        color: #3c5d3d
        font-family: 'Colus-Regular'
        text-transform: uppercase
        text-align: center
        transition: opacity 0.4s ease
        position: relative
        margin-bottom: 70px
        margin-right: 210px
        display: block
        span
            max-width: 117px
            width: 100%
            display: inline-block

        &:nth-child(4n)
            margin-right: 0

        &:before
            content: ""
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 106px
            height: 136px
            background-image: url(../i/pdf.png)

        &:hover
            opacity: 0.8

@media (max-width: 1850px)
    .documents
        &:before
            top: -83px
            right: -156px
            background-size: 70%
            background-repeat: no-repeat

@media (max-width: 1850px)
    .documents
        &__list
            max-width: 900px
        &__item
            margin-right: 70px

@media (max-width: 1650px)
    .documents
        &__list
            max-width: 920px
        &__item
            margin-right: 150px

@media (max-width: 1500px)
    .documents
        &__list
            max-width: unset
        &__item
            margin-right: 112px

@media (max-width: 1366px)
    .documents
        &:before
            top: -83px
            right: -300px
            background-size: 45%
            background-repeat: no-repeat

@media (max-width: 1200px)
    .documents
        &:before
            content: none
        &__list
            max-width: unset

            width: auto

@media (max-width: 1023px)
    .documents
        padding: 50px
        padding-bottom: 0
        &__item
            margin-right: calc((100% - 468px) / 3)

@media (max-width: 767px)
    .documents
        padding: 30px 20px

@media (max-width: 600px)
    .documents
        &__item
            margin-right: calc((100% - 351px) / 2)
            &:nth-child(4n)
                margin-right: calc((100% - 351px) / 2)
            &:nth-child(3n)
                margin-right: 0

@media (max-width: 500px)
    .documents
        &__text
            margin-bottom: 38px
        &__list
            padding: 0 30px
        &__item
            margin-bottom: 40px
            padding-top: 130px
            font-size: 14px
            &:before
                width: 80px
                height: 104px
                background-size: cover

@media (max-width: 420px)
    .documents
        &__list
            padding: 0 15px
        &__item
            margin-right: calc(100% - 234px)
            &:nth-child(2n)
                margin-right: 0
            &:nth-child(3n)
                margin-right: calc(100% - 234px)

@media (max-width: 374px)
    .documents

        &__list
            padding: 0
 

