mixin contacts
    section.contacts.animator(data-dir="ttb")#contacts
        .contacts__info
            h1.title Контакты
            .contacts__list
                .contacts__item
                    a(href="tel:+7 495 111 11 11").contacts__link.contacts__link--phone +7 495 111 11 11
                .contacts__item
                    a(href="mailto:info@fond-sintez.com").contacts__link.contacts__link--email info@fond-sintez.com
                .contacts__item
                    .contacts__link.contacts__link--address г. Москва, ул. Московская, д. 2, оф. 1
        .contacts__map(id="map")
             .map(id="contactsmap")