mixin documents
    section.documents#documents.animator(data-dir="ttb")
        h1.title Документы
        .documents__text 
            p Одним из наших приоритетов является полностью прозрачная деятельность.
                br 
                | С основными документами Фонда вы можете ознакомиться здесь:
        .documents__list
            a(href="#").documents__item 
                span
                    | Устав Фонда
            a(href="#").documents__item 
                span
                    | Программа Фонда
            a(href="#").documents__item 
                span
                    | Наши инициативы
            a(href="#").documents__item 
                span 
                    | Отчетность за март

