mixin intro
    section.intro#about
        .intro__left
            img(src="./img/picture1.jpg", alt="")
        .intro__right
            h1.title.title--white Фонд имени Геннадия Комиссарова
            .intro__text
                p Геннадий Германович Комиссаров (1937 - 2016) – профессор, доктор химических наук, известный специалист в области фотохимии и биофизики. Автор первой в мире фотовольтаической батареи, нового уравнения фотосинтеза, основанного на активной роли пероксида водорода, нового принципа преобразования солнечной энергии в электрическую.
                p Фонд был создан в 2019 году для поддержки молодых ученых нашей страны.
