mixin intro
    section.intro#about
        .intro__left
            img(src="./img/picture1.jpg", alt="")
        .intro__right
            h1.title.title--white Фонд имени профессора, доктора наук
                br
                | Геннадия Германовича Комиссарова (1937 - 2016)
            .intro__text
                p Геннадий Германович Комиссаров – профессор, доктор химических наук, известный специалист в области фотохимии и биофизики. Автор первой в мире фотовольтаической батареи, нового уравнения фотосинтеза, основанного на активной роли пероксида водорода, нового принципа преобразования солнечной энергии в электрическую. 
                p Фонд был создан в 2018 году сыном Геннадия Комиссарова, Алексеем Комиссаровым, для поддержки молодых учёных нашей страны.