mixin mission
    section.mission#mission
        .mission__left
            h1.title Миссия фонда
            .mission__text 
                p Целью деятельности Фонда является выявление и адресная поддержка талантливых молодых людей, будущих ученых, неспособных реализовать свой потенциал в связи с материальными трудностями. Планируется поиск одаренных выпускников школ, расположенных прежде всего в удаленных регионах России, и оплата расходов (проезд, проживание в течение первых месяцев и других) для поступления в лучшие университеты страны.
        .mission__right
        