mixin people
    section.people#people
        .carousel.swiper-container.js-slider
            .swiper-wrapper
                .swiper-slide
                    .people__slide
                        .people__photo
                            .people__photo-bg
                                img(src="./img/picture1.jpg").people__img
                        .people__text
                            h1.title.title--white истории успеха молодых учёных:
                                span.people__name Мария Николаева
                            p В старших классах среднеобразовательной школы Мария Николаева успела занять первые места на областных олимпиадах по биологии и физике, участвовать в работе научного кластера города Тулы и провести собственное исследование генома желтокрытой листвянки. Фонд организовал трансфер Марии в Москву и арендовал жилое помещение на время её поступления на биологический факультет МГУ. Сейчас Мария студентка второго курса бюджетного отделения, получает стипендию Университета и работает в лаборатории Биофака.
                .swiper-slide
                    .people__slide
                        .people__photo
                            .people__photo-bg
                                img(src="./img/picture2.jpg").people__img
                        .people__text
                            h1.title.title--white истории успеха молодых учёных:
                                span.people__name Николай Мариев
                            p В старших классах среднеобразовательной школы Мария Николаева успела занять первые места на областных олимпиадах по биологии и физике, участвовать в работе научного кластера города Тулы и провести собственное исследование генома желтокрытой листвянки. Фонд организовал трансфер Марии в Москву и арендовал жилое помещение на время её поступления на биологический факультет МГУ. Сейчас Мария студентка второго курса бюджетного отделения, получает стипендию Университета и работает в лаборатории Биофака.
                .swiper-slide
                    .people__slide
                        .people__photo
                            .people__photo-bg
                                img(src="./img/picture1.jpg").people__img
                        .people__text
                            h1.title.title--white истории успеха молодых учёных:
                                span.people__name Мария Николаева
                            p В старших классах среднеобразовательной школы Мария Николаева успела занять первые места на областных олимпиадах по биологии и физике, участвовать в работе научного кластера города Тулы и провести собственное исследование генома желтокрытой листвянки. Фонд организовал трансфер Марии в Москву и арендовал жилое помещение на время её поступления на биологический факультет МГУ. Сейчас Мария студентка второго курса бюджетного отделения, получает стипендию Университета и работает в лаборатории Биофака.
            .swiper-pagination
