include standart/__head
include standart/__footer
include standart/__header
include standart/__header-fixed
include standart/__scripts
include index/intro
include index/mission
include index/people
include index/documents
include index/request
include index/contacts
include modals/agreement