mixin footer
	footer.footer
		.footer__left
			a(data-fancybox href="#agreement").footer__link Пользовательское соглашение и юридическая информация
		.footer__right
			a(href="http://vane.ru/", target="_blank").footer__link Разработка сайта
